.header {
    position: relative;
    width: 100%;
    z-index: 10;
    margin-top: 1rem;
    &__inner {
        padding: 0.5rem;
        gap: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__burger {
        display: none;
    }



    &__menu {
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        &-btn {
            display: none;
        }
        &-notification {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1199px) {
        &__burger {
            display: inline-block;
            order: 2;
        }

        &__inner {
            flex-wrap: wrap;
            gap: 0;
        }

        &__menu {
            width: 100%;
            order: 3;
            transition: all 400ms;
            max-height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            left: 0;
            top: 100%;
            background: #fff;

            .open-menu & {
                max-height: 600px;
            }

            &-btn {
                display: block;
                margin-bottom: 1rem;
                padding: 0 1rem;
            }

            &-socials {
                display: block;
                padding: 0 1rem;
            }
        }

        &__button {
            display: none;
        }

        &__logo {
            order: 1;
        }
    }
}

.cross {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 43px;

    span {
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;

        pointer-events: none;

        .open-menu & {
            transition: all 400ms;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: currentColor;
            height: 1px;
            width: 100%;
        }

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            bottom: 0;
        }

        .open-menu & {
            &:first-child {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }

            &:nth-child(2) {
                transform: scale(0);
            }

            &:last-child {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
    }

}
