.promo {

    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        grid-template-areas: 
        "T T T T T T T T T T T T"
        "D D D D D D D D D D D D"
        "G G G G G G G G G G G G"
        "R R R R R R R R R R R R"
        "B B B B B B B B B B B B"
        "A A A A A A A A A A A A"
        "P P P P P P P P P P P P"
        ;
        &__title {
            grid-area: T;
        }
        &__description {
            grid-area: D;
        }
        &__btn {
            grid-area: B;
        }
        &__advantages {
            grid-area: A;
        }
        &__preference {
            grid-area: P;
        }
        &__gallery {
            grid-area: G;
        }
        &__reviews {
            grid-area: R;
        }
    }


    @media screen and (min-width: 768px) {
        &-grid {
            align-items: center;
        grid-template-areas: 
        "T T T T T T T T T T T T"
        "D D D D D D D D D D D D"
        "G G G G G G G G G G G G"
        "R R R R R R R R R R R R"
        "A A A A A A A A A A A A"
        "P P P P P P P P P P P P"
        "B B B B B B B B B B B B"
        
        ;
        }
    }

    @media screen and (min-width: 992px) {
        &-grid {    
            align-items: center;
        grid-template-areas: 
        "T T T T T T T T T T T T"
        "D D D D D D D A A A A A"
        "G G G G G G G A A A A A"
        "R R R R R R R R R R R R"
        "P P P P P P P P P P P P"
        "B B B B B B B B B B B B"
        ;
        }
    }
    @media screen and (min-width: 1200px) {
        &-grid {    
        align-items: start;
        gap: 2rem;
        grid-template-areas: 
        "T T T T T G G G G G G G"
        "D D D D D G G G G G G G"
        "A A A A A G G G G G G G"
        "A A A A A R R R R R R R"
        "A A A A A R R R R R R R"
        "A A A A A P P P P P P P"
        "A A A A A B B B B B B B"
        ;
        }
    }
    @media screen and (min-width: 1400px) {
        &-grid {
        grid-template-areas: 
        "T T T T T T G G G G G G"
        "D D D D D D G G G G G G"
        "B B B B B B G G G G G G"
        "A A A A A A G G G G G G"
        "A A A A A A R R R R R R"
        "A A A A A A R R R R R R"
        "A A A A A A R R R R R R"
        "P P P P P P R R R R R R"
        ". . . . . . R R R R R R"
        ;
        }
    }




}