.testimonials {
    &__header {
        margin-bottom: 0.75rem;
        display: flex;  
        justify-content: center;
    }
    &__row {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

}

.testimonial {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &__ava {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
    }
}