
.card.card-white.card-rounded 
    .advantages 
        .advantages__title.h4.text-bold.text-blue.text-center Why Sydney residents trust drySafe for water damage recovery
        ul.list-check
            li We arrive fast, our technicians are standing by and ready to help
            li We've been around for 30+ Years
            li We are credible and a preferred Vendor for several Australian nation insurance companies
            li Clear communication and updates throughout the process
            li Our team are equipped with all the machines, equipment and tools to solve your water damage problem
            li Our team are experienced with an average tenure of 5+ years
            li We've looked after over 1000 Sydney residents