header.header(data-aos="fade-down") 
	.container 
		.header__inner
			.header__logo 
				img(src="img/logo.svg" alt="")
			.header__btn.text-center
				+btn('btn btn-secondary btn-rounded btn-normal', 'SEND HELP NOW')
			.header__notification 
				include notification 
