header.header(data-aos="fade-down") 
	.container 
		.card.card-white.card-rounded
			.header__inner
				.header__logo 
					img(src="img/logo.svg" alt="")
				.header__menu#main-menu 
					.header__menu-notification 
						include notification 
					.header__menu-btn.text-center
						+btn('btn btn-secondary btn-rounded btn-large', 'SEND HELP NOW')
				.header__button.text-nowrap
					+btn('btn btn-secondary btn-rounded btn-large', 'SEND HELP NOW')
				.header__burger
					button.js-burger.btn.btn-transparent(type="button" aria-expanded="false" aria-controls="main-menu")
						span.sr-only Open Menu
						span.cross 
							span 
							span
							span