.notification 
    span.notification____availability <span class="notification__indicator"></span>&nbsp;Current response availability: <b class="text-red">1 crew remaining</b>
    span.notification__refresh Refresh status in <span>1</span> sec